@use '../../../styles/mixins';

.startBtn {
  @include mixins.btnMain;
  margin-right: 25px;
}

.stopBtn {
  @include mixins.btnSecond;
}

.endTaskBtn {
  color: var(--mainRed);
  border: 2px solid var(--mainRed);
  &:hover {
    background-color: var(--mainRed);
    color: var(--backgroundColor);
  }
}
