@use '../../../styles/variables' as vars;
.countdown {
  margin: 0;
  font-size: 150px;
  line-height: 179px;
  font-weight: 200;
  span {
    transition: color 0.2s ease-in;
  }
}
.pausedCountdown {
  span {
    color: var(--mainRed);
  }
}
