@use '../variables' as vars;

@font-face {
  font-family: 'SF-UI-display';
  src: local('SF-UI-display-Light'),
    url('../assets/fonts/sf-ui-display-light.woff2') format('woff2'),
    url('../assets/fonts/sf-ui-display-light.woff2') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'SF-UI-display';
  src: local('SF-UI-display-Bold'),
    url('../assets/fonts/sf-ui-display-bold.woff2') format('woff2'),
    url('../assets/fonts/sf-ui-display-bold.woff2') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

.header {
  margin-bottom: 100px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);

  .container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;

    .logoContainer {
      display: flex;
      align-items: center;

      .logoHeader {
        margin-left: 12px;
        color: vars.$mainRed;
        font-family: 'SF-UI-display', sans-serif;
        font-weight: 300;
      }

    }
  }

}
