$mainText: #333;
$textLight: #999;
$todoBorder: #e4e4e4;
$timerHeaderColor: #c4c4c4;
$timerBgColor: #f4f4f4;
$mainBtn: #a8b64f;
$mainBtnHover: #899441;
$mainRed: #dc3e22;
$darkRed: #b7280f;
$white: #fff;
