@use '../../styles/variables' as vars;

.timerHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 19px 40px;
  background-color: var(--timerHeaderColor);
  transition: background-color 0.2s ease-in;

  .timerHeader,
  .pomodoroCount {
    margin: 0;
    color: vars.$white;
    font-size: 16px;
  }
}

.headerContainerPause {
  background-color: var(--mainRed);
}
