@use '../../../../../../styles/variables' as vars;
@use '../../../../../../styles/mixins';

.menuList {
  @include mixins.listReset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px 15px 15px;
  background-color: var(--backgroundColor);
  box-shadow: 0 0 20px var(--boxshadowColor);

  .menuItem:not(:last-child) {
    margin-bottom: 12px;
  }

  .menuBtn {
    @include mixins.btnReset;
    display: flex;
    align-items: center;
    justify-content: start;
    color: vars.$textLight;

    &:hover {
      color: vars.$mainBtn;
    }

    span {
      margin-right: 8px;
    }
  }
}
