@use '../../../../styles/mixins';
@use '../../../../styles/variables' as vars;

.todoItem {
  position: relative;
  display: grid;
  grid-template-columns: 35px 1fr 26px;
  gap: 0 10px;
  align-items: center;
  max-width: 70%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--todoBorder);
  border-left: 0;
  border-right: 0;
  cursor: move;

  .pomodoroNumber {
    padding: 8px 9px;
    border: 1px solid var(--mainRed);
    border-radius: 50%;
  }

  .taskInput {
    padding: 7px 15px;
    width: 100%;
    background-color: var(--timerBgColor);
    border: 0;
    font-size: 16px;
    font-weight: 300;
  }

  .changeBtn {
    @include mixins.btnReset;
    position: absolute;
    top: 26px;
    right: 44px;

    svg {
      fill: vars.$mainBtn;
    }

    &:hover {
      svg {
        fill: vars.$mainBtnHover;
      }
    }
  }
}
