@use '../../../../../styles/mixins';
@use '../../../../../styles/variables' as vars;

.menu {
  position: relative;
  .menuBtn {
    @include mixins.btnReset;
    svg {
      circle {
        fill: vars.$timerHeaderColor;
      }
    }
  }

  .activeBtn {
    svg {
      circle {
        fill: vars.$mainBtn;
      }
    }
  }
}
