$black: #333333;
$orange: #CC6633;
$green: #A4CC33;
$whiteLightness: 100%;
$white: hsl(0, 0%, $whiteLightness);
$grayF4: hsl(0, 0%, calc($whiteLightness - 4%));
$grayF3: hsl(0, 0%, calc($whiteLightness - 5%));
$grayEC: hsl(0, 0%, calc($whiteLightness - 7%));
$grayD9: hsl(0, 0%, calc($whiteLightness - 15%));
$grayC4: hsl(0, 0%, calc($whiteLightness - 23%));
$gray99: hsl(0, 0%, calc($whiteLightness - 40%));
$grey66: hsl(0, 0%, calc($whiteLightness - 60%));
$mainRed: #DC3E22;
