@use 'variables' as vars;

* {
  color: vars.$mainText;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background-color: vars.$white;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
  overflow-x: hidden;
}

// ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
